<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
  </a>

  <hr class="sidebar-divider my-0">

  <li class="nav-item">
    <%= link_to dashboard_path, class: "nav-link"  do %>
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    <% end %>
  </li>

  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Opções
  </div>

    <!-- Nav Item - Charts -->
  <li class="nav-item">
    <%= link_to backoffice_categories_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-table"></i>
      <span>Categorias</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to backoffice_admins_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-users"></i>
      <span>Administradores</span>
    <% end %>
  </li>

  <% if Rails.env == "development" %>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Development</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Templates:</h6>
          <a class="collapse-item" target="_blank"
                 href="http://localhost:3000/template/home/index.html">Home</a>
          <a class="collapse-item" target="_blank"
                 href="http://localhost:3000/template/sbadmin2/index.html">Backoffice</a>
          <h6 class="collapse-header">Base de dados:</h6>

          <%= link_to backoffice_diagrams_path, class: "collapse-item", remote: true do  %>
            <i class="fas fa-database" ></i>
            <span>Diagrama ER</span>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
